/* navegacion */
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}


.navigator1{
  background-color:#f9a560;
  box-shadow: 2px 2px 5px rgb(133, 131, 131);
}

.navigator-logo{
    max-width: 16rem;
    max-height: 16rem;

}
#navbarNavDropdown{
  margin-left: 9rem;
}
#nav{
  font-size:1rem;
  font-family:Arial ;
}
.login{
  padding-left:17rem
}
/* carrouser */
#carouselExampleControls{
  margin-top:3.6rem
}

.carrousel{
  max-width: 125rem;
  max-height:40rem
}
.card{
  max-width:18rem
}
.image-card{
  width: 215px;
  height: 240px;
  border-radius:8px;

  
} 

/* listadoCamaras */
.grid-layout{
  display:grid;
  margin-top: 5rem;
  grid-template-columns: auto auto auto auto;
  justify-content: center !important;

}
.card2{
  margin-bottom:10px;
  width: 13.6rem;   
  border-radius:8px;
}

@media(max-width: 900px){
  .grid-layout{
      grid-template-columns:auto;
  }
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

/* body y footer */
.footer{
  width: 100%;
  height: 150%;
  bottom: 100%;
}
.alarma-comunitaria{
  margin-top:5rem
}


/* login */
 .form-login {
  width: 100%;
  max-width: 80rem;
  padding: 15px;
  margin-top:5rem
  
}

.form-signin input {
  margin-bottom: 6px;
  border-radius: 1rem;
  max-width: 40rem;

}
.form{
  margin-left: 25rem;
  margin-bottom: 7rem;
}
.btn{
  background-color:#f9a560; 
}


/* informacion */

.informacion{
  margin-top:3rem;
}
.informacionEmpresa{
  max-width:50rem;
  margin-left:27rem;
}
.imagenInfo{
  width:  120rem;
  height: 40rem;
  border-radius:8px;
}
.infoCompleta{
  margin-top:-2rem
}
.infoImage{
  margin-right:28rem
}
.mision{
  margin-left:55rem;
  margin-top:-30rem;
  margin-bottom:30rem;
}


